
*{
 box-sizing: border-box;



}
body{
 margin: 0;
 padding: 0;
background-color: rgb(179, 218, 241);
font-family: 'Oxygen', sans-serif;
}

#hakkinda {
 background-color: black;
 color: white;
 width: 100%;
 height: 50px;
 position: sticky;
 top :0;
 z-index: 1;
 font-size: 19px;
 text-align: center;
 padding: 15px;

}
#container{
width: 80%;
height: auto;
margin: auto;


}
header{
    width: 100%;
    height: 250px;
    position: relative;
    background-color: black;
    font-size: 35px;
    margin-bottom: 15px;
}
#headerresim{
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}
#centered{
 position:absolute;
 top: 50%;
 left: 50%;
transform:translate (-50%,-50%);

}
section{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    overflow: auto;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}
nav{
    width: 20%;
    margin-top: 10px;
    height: auto;
    float: left;
}
nav ul{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav li{
list-style-type: none;


}
nav li a{
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;

}
nav li a :hover{
    color: white;
    background-color: #adadad;
}
main{
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;
}
.icerik{
width: 47%;
height: auto;
display: inline-block;
margin-right: 15px;
border-radius: 10px;
box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
padding: 5px;
margin-bottom: 15px;

}
.rsm{
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;

}
h5{
    margin:10px;
    color:dimgray;
}
.iceriktext{
   margin: 10px;
   color: dimgray;

}

h1{
text-align: center;
background-color: black;
color: white;
height: 50px;
line-height: 50px;
margin: 0 10px;
border-radius: 10px;
box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);

}
#ozgecmisresim{
   float: left;
   width: 350px;
   height: 300px;
   border-radius: 10px;
   margin: 25px;

}
.newyork{
    width: 46%;
    height: auto;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);

}
.newyorkrsm{
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.newyorkyazi{
    margin: 10px;

}
.hobilerim{
    width: 46%;
    height: auto;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}
.hobilerimrsm{
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hobilerimyazi{
    margin: 10px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #ffffff;
    background-color: #011627;
    font-family: 'Ubuntu', sans-serif;
}

#contact{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.title{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}
.contact-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-left{
    width: 40%;
    padding: 3rem;
}
.cont-top{
    padding-bottom: 2rem;
    border-bottom: 1px solid #ffffff;
}
.cont-element{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.cont-element i{
    color: #ffffff;
    padding: 0.7rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: all 0.4s ease;
}
.cont-element:hover i{
    background-color: #ffffff;
    color: #011627;
}
.cont-element a{
    color: #ffffff;
    text-decoration: none;
}
.cont-bottom{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont-bottom a{
    color: #ffffff;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #181818;
    border-radius: 50%;
}
.cont-bottom a:hover{
    color: #181818;
    background-color: #ffffff;
}


.cont-right{
    width: 60%;
    padding: 3rem;
}
.cont-right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-right form input, textarea, button{
    width: 100%;
    margin: 1rem 0;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid #7a7fdf;
    color: #64c1ef; 
    transition: all 0.4s ease;
}
.cont-right form button{
    background-color: #67a2ee;
    color: #011627;
    cursor: pointer;
}
.cont-right form button:hover{
    background-color: #011627;
    color: #ffffff;
}
.cont-right form input:hover, textarea:hover{
    color: #011627;
    background-color: #ffffff;
}
.cont-right form input:focus, textarea:focus{
    color: #011627;
    background-color: #ffffff;
}





